extends layout

block content
    .card  
        .card-body
            .main-container.container-fluid
                .row
                .col-md-6.col-md-offset-3
                    h2 AGREGAR SALA:
                    form(method='POST' action='/createRoom')
                        div.form-group
                            label(for='Theater_id') Sede:
                            select(type='text', name='Theater_id', id='Theater_id',class="form-control")
                                -for(let i = 0; i < theater.length; i++)
                                    option(value=theater[i].id) #{theater[i].Fiscal_name}
                        div.form-group
                            label(for='Room_type') Tipo de sala:
                            select(type="text", name="Room_type_id", id="Room_type_id")
                                -for(let i = 0; i < roomType.length; i++)
                                    option(value=roomType[i].id) #{roomType[i].Description} 
                        div.form-group
                            label(for='Technology_type') Tipo de tecnologia:
                            select(type="text", name="Technology_type_id", id="Technology_type_id")
                                -for(let i = 0; i < techType.length; i++)
                                    option(value=techType[i].id) #{techType[i].Description}
                        div.form-group
                            label(for='Row_qty') Cantidad de filas:
                                input(type='number', name='Row_qty', id='Row_qty',class="form-control")
                        div.form-group
                            label(for='Col_qty') Cantidad de columnas:
                                input(type='number', name='Col_qty', id='Col_qty',class="form-control")
                        div.form-group
                            label(for='Aisle') Pasillos:
                            select(type="text", name='Aisle_id', id='Aisle_id', class="form_control")
                                option(value=1) Izquierda
                                option(value=2) Centro
                                option(value=3) Derecha
                                option(value=4) Izquierda y centro
                                option(value=5) Izquierda y derecha
                                option(value=6) Centro y derecha
                                option(value=7) Izquierda, centro y derecha
                        div.form-group
                            label(for='Exit') Salidas:
                            select(type="text", name='Exit_id', id='Exit_id', class="form_control")
                                option(value=1) Izquierda
                                option(value=2) Centro
                                option(value=3) Derecha
                                option(value=4) Izquierda y derecha
                                option(value=5) Izquierda y centro
                                option(value=6) Centro y derecha
                                option(value=7) Izquierda, centro y derecha
                        div.form-group
                            label(for='Entrance') Entradas:
                            select(type="text", name='Entrance_id', id='Entrance_id', class="form_control")
                                option(value=1) Izquierda
                                option(value=2) Izquierda y Derecha
                                option(value=3) Derecha        
                    button.btn.btn-success(type='submit') Agregar