extends layout

block content

    .card
        .card-body
            .card
                .card-body
                    div.container-fluid.d-inline.float-left
                        a.btn.btn-outline-success.m-3.d-inline.mr-5(href="/administrar") Regresar
                        form.w-50.d-inline.ml-5(method="POST", action="/getMoviesByGenreId" )
                            .col-sm-3.d-inline
                                select.d-inline.w-25(name='Genre_id', class="form-control", id="Genre_id")
                                    -for(let i = 0; i < genre.length; i++)
                                        option(value=genre[i].id) #{genre[i].Genre_type}
                            button.btn.btn-success.text-center.d-inline(type="submit" ) Filtrar
                        div.d-inline.float-right(style='background-color:white;')
                            a.btn.btn-outline-success.m-3.d-inline(href='/create-movie') Agregar película
                            a.btn.btn-outline-success.m-3.d-inline(href='/update-movie') Modificar película 
            .card
                .card-body
                    .container-fluid.row
                        .container-fluid.col-8#table
                            h3#text PELÍCULAS AGREGADAS
                            hr
                            br
                            table.table.bg-white
                                thead.text-center
                                    tr(style="text-align:center;")
                                        th(scope='col') Título
                                        th(scope='col') Descripción
                                        th(scope='col') Duración
                                        th(scope='col') Género
                                        th(scope='col') Fecha de estreno
                                        th
                                tbody
                                -for(let i = 0; i <movie.length; i++)
                                    tr(style="text-align:center;")
                                        th(scope='row')
                                            h5 #{movie[i].Title}
                                        td 
                                            h5 #{movie[i].Description}
                                        td
                                            h5 #{movie[i].Duration}
                                        td
                                            h5 #{movie[i].Genre_id}
                                        td
                                            h5 #{movie[i].Release_date}
                                        td
                                            form(method='POST' action='/deleteMovie')
                                                button.btn.btn-danger(value=movie[i].id, name='id') X 
