extends layout

block content
    .container-fluid.row
        .container-fluid.col-8#table
            h3#text Sedes Disponibles
            hr
            br
            table.table.bg-white
                thead
                    tr(style="text-align:center;")
                    th(scope='col') Id
                    th(scope='col') Fiscal Name
                    th(scope='col') Location
                    th(scope='col') Opening Time
                    th(scope='col') Closing Time                
                tbody
                -for(let i = 0; i <theater.length; i++)
                    tr(style="text-align:center;")
                        th(scope='row')
                            h5 #{theater[i].id}
                        td
                            h5 #{theater[i].Fiscal_name}
                        td 
                            h5 #{theater[i].Location}
                        td
                            h5 #{theater[i].Opening_time}
                        td
                            h5 #{theater[i].Closing_time}

        .container-fluid.col-3(style='background-color:white;')
            .list-group
            a.list-group-item.list-group-item-action.active(href='#')
                | Administrar sedes 
            a.list-group-item.list-group-item-action(href='/create-theater') Agregar sede
            a.list-group-item.list-group-item-action(href='/update-theater') Modificar sede 
            a.list-group-item.list-group-item-action(href='/delete-theater') Eliminar sede 