extends layout

block content
    .col-sm-8#table
        h3#text PELÍCULAS AGREGADAS
        hr
        br
        table.table.bg-white
            thead
                tr(style="text-align:center;")
                  th(scope='col') Id
                  th(scope='col') Título
                  th(scope='col') Descripción
                  th(scope='col') Duración
                  th(scope='col') Género
                  th(scope='col') Fecha de estreno
            tbody
            -for(let i = 0; i <movie.length; i++)
                tr(style="text-align:center;")
                    th(scope='row')
                        h5 #{movie[i].MOVIE_ID}
                    td
                        h5 #{movie[i].TITLE}
                    td 
                        h5 #{movie[i].DESCRIPTION}
                    td
                        h5 #{movie[i].DURATION}
                    td
                        h5 #{movie[i].GENRE}
                    td
                        h5 #{movie[i].RELEASE_DATE}